/* Chessboard styles */

@import url("https://fonts.googleapis.com/css2?family=Montserrat");

:root {
    --m: 'Montserrat', serif;
}


@media only screen and (max-width: 1366px) {
    .square {
        height: 70px !important;
        width: 80px !important;
    }
    .chessboard {
        top: 4.5% !important;
        left: 2% !important;
    }

    #user-white, #user-black {
        left: 50% !important;
    }

    .piece {
        width: 50px;
        height: 50px;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chessboard {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 15%;
    top: 8%;

}

.user {
    font-family: var(--m);
}

#user-black {
    position: absolute;
    top: 0%;
    left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#user-white {
    position: absolute;
    bottom: 0%;
    left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-black-name, #user-white-name {
    font-size: 2em;
    font-weight: bold;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-left: 10px;
}

#user-black-rating, #user-white-rating {
    margin-left: 15px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#user-black-time, #user-white-time {
  margin-left: 15px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 18px;
  opacity: 0.5;
}

.timing {
  opacity: 1 !important;
  text-decoration: underline !important;
}

.info {
    background-color: rgb(0, 0, 0, 0.5);
    height: 85vh;
    width: 20%;
    position: fixed;
    right: 5%;
    border-radius: 5px;
    top: 50%;
    transform: translate(0%, -50%);
    font-family: var(--m);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
}

.square {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px #000;
}

/* Alternate between black and white squares */
.white {
    background-image: url('https://www.transparenttextures.com/patterns/wood-pattern.png');
    background-color: #e0d7c8;
}

.wood-brown {
    background-image: url('https://www.transparenttextures.com/patterns/wood-pattern.png');
    background-color: #b68a50;
}

.piece {
    cursor: pointer;
    transition: .5s;
}

.cursor {
    cursor: pointer;
}

.row:nth-child(even) .square:nth-child(odd),
.row:nth-child(odd) .square:nth-child(even) {
    background-color: #b68a50;
}

.row:nth-child(even) .square:nth-child(even),
.row:nth-child(odd) .square:nth-child(odd) {
    background-color: #e0d7c8;
}

.selected {
    background-color: rgb(211, 211, 211, 0.5);
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    display: flex;
    /* flex */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

#loading-screen img {
    animation: blink 1.5s ease-in-out infinite;
}

.loading-text {
    font-size: 18px;
    color: #666666;
    margin-top: 20px;
    font-family: var(--m);
    animation: blink 1.5s ease-in-out infinite;
}

.chessboard .rank {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0D9B5;
    color: #000;
    order: -1;
}

.chessboard .file {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0D9B5;
    color: #000;
}


@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#uuid {
    position: absolute;
    bottom: 0.5%;
    right: 0.5%;
    font-family: var(--m);
    color: #666666;
    font-size: 13.5px;
}

.gameCheckmate, .gameDraw {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 300px;
    background-color: white;
    text-align: center;
    border-radius: 10px / 5px;
    overflow: hidden;
    font-family: var(--m);
    transition: .5s;
    scale: 0;
}

.gameCheckmate .top, .gameDraw .top {
    background-color: green;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 40%;
}

.footer {
    position: absolute;
    top: 40%;
    left: 0%;
    width: 100%;
    padding-top: 25px;
    height: calc(100% - 40% - 25px);
}

.newgame-btn {
    cursor: pointer;
    font-family: var(--m);
    color: white;
    font-weight: bold;
    background-color: #88ac4c;
    border: 1px solid #88ac4c;
    border-bottom: 3px solid #475c26;
    width: 90%;
    height: 45px;
    font-size: 16px;
}

#winslos {
    color: white;
}

#win-reason {
    color: lightgray;
}

#shade {
    position: fixed;
    z-index: 100;
    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    scale: 0;
    transition: .5s;
}

.closeModalBtn {
    position: absolute;
    top: 0.5%;
    right: 0.5%;
    color: white;
    cursor: pointer;
    font-family: var(--m);
    z-index: 8888;
}

.dft-msg-content {
    color: rgb(207, 207, 207)
}

.chatMessages {
    text-align: left;
    overflow-y: scroll;
    height: 100px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chatMessages::-webkit-scrollbar, .chatMessages::-webkit-scrollbar {
    display: none;
}

.info-chat {
    position: absolute;
    bottom: 1%;
    width: 80%;
}

#chatbox {
    width: 100%;
    font-family: var(--m);
    padding-left: 5px;
    outline: 0;
}

.movedFrom {
  background: rgb(250, 250, 0, 0.55) !important;
}

.movedTo {
  background: rgb(250, 250, 0, 0.35) !important;
}