@import url("https://fonts.googleapis.com/css2?family=Montserrat");

:root {
    --m: 'Montserrat', serif;
}

@media only screen and (max-width: 1366px) {
    #board-bg {
        width: 650px;
        height: 650px;
    }
}

.container {
    position: absolute;
    right: 0%;
    width: calc(100% - 980px);
    height: 100%;
    background-color: white;
    top: 0%;
    text-align: center;
    font-family: var(--m);
}

.container div {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    width: 50%;
    height: 50%;
}

#username-input {
    width: 300px;
    height: 35px;
    font-family: var(--m);
    outline: 0;
    border: none;
    border-bottom: 1px solid black;
}

#join-queue-btn {
    font-family: var(--m);
    background-color: rgb(0, 0, 0, 0.1);
    cursor: pointer;
    border: none;
    border-bottom: 3px solid rgb(0, 0, 0, 0.4);
    height: 45px;
    width: 230px;
    font-size: 16px;
    transition: .5s;
    border-radius: 5px;
}

#join-queue-btn:hover {
    background-color: rgb(0, 0, 0, 0.08);
    
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    display: flex; /* flex */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

#loading-screen img {
    animation: blink 1.5s ease-in-out infinite;
}

.loading-text {
    font-size: 18px;
    color: #666666;
    margin-top: 20px;
    font-family: var(--m);
    animation: blink 1.5s ease-in-out infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#board-bg {
  position: fixed;
  transform: translate(0%, -50%);
  top: 50%;
  left: 5%;
  height: 90%;
  
}

#uuid {
    position: absolute;
    bottom: 0.5%;
    right: 0.5%;
    font-family: var(--m);
    color: #666666;
    font-size: 13.5px;
}

#reset {
    position: absolute;
    bottom: 0.5%;
    left: 0.5%;
    font-family: var(--m);
    color: blue;
    font-size: 13.5px;
    cursor: pointer;
    text-decoration: underline;
}